body{
  min-height: 100vh;
}

/*clases del boton y menu*/
.boton-menu{
  background-color: #E6266C;
  width: 60px;
  height: 60px;
  color: white!important;
  font-size: 2.5rem;
  border-radius: 50%;
}
.btn:hover{
  color: white;
}
.boton-menu:focus{
  outline: 0;
}
.popover {
  border: none;
  box-shadow: none;
  min-width: 300px;
}

.popover > .arrow{
  border: none;
  visibility: hidden;
}

footer{
  position: fixed;
  bottom: 25px;
  right: 15px;
}
.modal-open .popover{
  z-index: 0;
}

.popover .popover-content ul{
  margin-top: 30px;
}
.popover-content .menu li{
  font-size: 2rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 5px;
  text-align: center;
  padding-top: 10px;
}
.popover .popover-content a{
  color: white;
}
.popover-content .color-yellow{
  background-color: #FBDB6B;
}
.popover-content .color-green{
  background-color: #83EAB9;
}
.popover-content .color-blue{
  background-color: #5497F8;
}
.popover-content .color-celeste{
  background-color: #2EE8FD;
}
